Source: ::package_name::
Section: ::package_category::
Priority: ::package_priority::
Maintainer: ::package_author::
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: ::package_url::

Package: ::package_name::
Architecture: ::package_architecture_deb::
Depends: ::package_dependencies_deb::
Description: ::package_description_short::
