[Unit]
DefaultDependencies=no
After=remote-fs-pre.target
After=network.target
Wants=network.target
After=network-online.target
Wants=network-online.target
Conflicts=umount.target
Before=umount.target
Before=ctdb.service

[Mount]
What=:/fsgw/{{{localpath}}}
Where=/mnt/fsgw/{{{localpath}}}
Type=ceph
Options=name=samba,secretfile=/etc/ceph/samba.secret

[Install]
WantedBy=remote-fs.target