Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}


BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
make OS_PACKAGE_RELEASE=el9

%install
make DESTDIR=%{buildroot} install

%files
/usr/share/cockpit/file-sharing/*

%changelog
* Thu Jul 31 2025 Rachit Hans <rhans@45drives.com> 4.2.14-6
- build package + fixed deletion
* Wed Jul 30 2025 Rachit Hans <rhans@45drives.com> 4.2.14-5
- fixed rbd's removal
* Wed Jul 30 2025 Rachit Hans <rhans@45drives.com> 4.2.14-4
- build package
* Tue Jul 29 2025 Rachit Hans <rhans@45drives.com> 4.2.14-3
- build package
- added logic to add LVM's to pcs target even after page refresh
* Fri Jul 25 2025 Rachit Hans <rhans@45drives.com> 4.2.14-2
- building
- package
* Thu Jul 24 2025 Rachit Hans <rhans@45drives.com> 4.2.14-1
- building package
* Tue Jul 08 2025 Jordan Keough <jkeough@45drives.com> 4.2.13-1
- Removes conditional flag on group add/delete for iscsi initiator groups
* Thu May 29 2025 Jordan Keough <jkeough@45drives.com> 4.2.12-1
- ISCSI - Shows all virtual devices and whether in use or not
* Thu May 29 2025 Jordan Keough <jkeough@45drives.com> 4.2.11-1
- remove acl_xattr:ignore
- system
- acls
- =
- yes option from windowsACLsOptions
* Fri Apr 04 2025 Jordan Keough <jkeough@45drives.com> 4.2.10-4
- Updates houston-common commit, fixes isDomainJoined function
* Wed Apr 02 2025 Jordan Keough <jkeough@45drives.com> 4.2.10-3
- Merges prerelease packages into stable
* Tue Mar 25 2025 Josh Boudreau <jboudreau@45drives.com> 4.2.9-2
- bump build rev
* Thu Feb 06 2025 Brett Kelly <bkelly@45drives.com> 4.2.9-1
- Initial build for el9