Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}


BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
make OS_PACKAGE_RELEASE=el9

%install
make DESTDIR=%{buildroot} OS_PACKAGE_RELEASE=el9 install

%files
/usr/share/cockpit/file-sharing/*

%changelog
* Thu Nov 06 2025 Rachit Hans <rhans@45drives.com> 4.4.1-5
- shell escaping colons
* Wed Nov 05 2025 Rachit Hans <rhans@45drives.com> 4.4.1-4
- fixed deletion of incrorect lun
* Tue Nov 04 2025 Rachit Hans <rhans@45drives.com> 4.4.1-3
- removed reference to heartbeat1
* Thu Oct 30 2025 Rachit Hans <rhans@45drives.com> 4.4.1-2
- changed the commands of addition groups
* Fri Sep 26 2025 Rachit Hans <rhans@45drives.com> 4.4.1-1
- improved speed of iscsi module + added functionality f adding multiple groups to
  target + build package
* Fri Sep 19 2025 Joshua Boudreau <jboudreau@45drives.com> 4.3.2-2
- Fix bug causing nfs server crash during export removal with ceph by removing ceph
  remount after removing share instead of before
- Fix bug causing NFS hooks to be run multiple times for clustered environments
* Mon Sep 08 2025 Joshua Boudreau <jboudreau@45drives.com> 4.3.2-1
- Fix bug causing nfs server crash during export removal with ceph by removing ceph
  remount after removing share instead of before
* Mon Aug 25 2025 Joshua Boudreau <jboudreau@45drives.com> 4.3.1-2
- Fix os release display in app info popup on EL8/EL9
- Enable AD accounts what's new popup for v4.3.1
* Fri Aug 22 2025 Joshua Boudreau <jboudreau@45drives.com> 4.3.1-1
- Fix build issue causing edit permissions popup to be blank
* Tue Aug 19 2025 Joshua Boudreau <jboudreau@45drives.com> 4.3.0-1
- Add option for Active Directory/Domain users and groups to appear in dropdown lists
  while editing path permissions
- Improvements to SelectMenu UX
- Samba - make 'Inherit Permissions' and 'Windows ACLs' options mutually-exclusive
- Prompt to kick all users from share while deleting
- Clarify warning messages while deleting shares that files and folders will not
  be deleted
- Fix importing smb.conf
* Fri Aug 15 2025 Rachit Hans <rhans@45drives.com> 4.2.13-4
- build package
* Tue Aug 12 2025 Rachit Hans <rhans@45drives.com> 4.2.13-3
- build package
* Mon Aug 11 2025 Rachit Hans <rhans@45drives.com> 4.2.13-2
- fixing dropdown values getting hidden
* Tue Jul 08 2025 Jordan Keough <jkeough@45drives.com> 4.2.13-1
- Removes conditional flag on group add/delete for iscsi initiator groups
* Thu May 29 2025 Jordan Keough <jkeough@45drives.com> 4.2.12-1
- ISCSI - Shows all virtual devices and whether in use or not
* Thu May 29 2025 Jordan Keough <jkeough@45drives.com> 4.2.11-1
- remove acl_xattr:ignore
- system
- acls
- =
- yes option from windowsACLsOptions
* Fri Apr 04 2025 Jordan Keough <jkeough@45drives.com> 4.2.10-4
- Updates houston-common commit, fixes isDomainJoined function
* Wed Apr 02 2025 Jordan Keough <jkeough@45drives.com> 4.2.10-3
- Merges prerelease packages into stable
* Tue Mar 25 2025 Josh Boudreau <jboudreau@45drives.com> 4.2.9-2
- bump build rev
* Thu Feb 06 2025 Brett Kelly <bkelly@45drives.com> 4.2.9-1
- Initial build for el9